{% extends "base.html" %}

{% block head %}
<meta http-equiv="refresh" content="20">
{% endblock %}

{% block body %}
{% block heading %}
<h1>{{name}} is running</h1>
{% if eval != True %}
<h3>{{epoch}} epoch has been completed. (Updates every 10 epoch)</h3>
{% endif %}
<a href={{tbURL}}  target="_blank"> Tensorboard</a>
<br>
<form action="/close" method="post">
    <input type="submit" value = "End">
</form>
<br>
{% endblock %}

{% for property in args %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-3">
        {{descriptions[property]}}
    </div>
    <div class="col-2"></div>
    <div class="col-3">
        {{args[property]}}
    </div>
</div>
{% endfor %}

{% for name in patches %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <img src="{{ url_for('patch', filename=name) }}">
        </div>
        <div class="col-2 text-center">{{name}}</div>
        <div class="col-3">
            <img src="{{ url_for('combine', filename=name) }}">
        </div>
        <div class="col-2"></div>
    </div>
{% endfor %}
{% endblock %}